.container {
    display: flex;
    max-width: 1400px;
    background-color: #fff;
    padding: 10px;
}

.linkCrumb {
    text-decoration: none;
    color: #99CC99;
    font-size: 12px;
    font-weight: 600;
}

.crumb {
    background-color: #153F1A;
    padding: 5px 10px;
}