.container {
    max-width: 1400px;
    gap: 2rem;
}
.outer {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-top: 2px solid red;
}

.outer h2 {
    margin: 0;
}

.inner {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-top: 10px;
}

@media (max-width: 960px) {
    .inner {
        flex-direction: column;
    }
}