.container {
    width: 100%;
    padding: 0 20px;
    background-color: #99CC99;
    /*background-color: #eefde7;*/
    height: 100%;
}
.outer {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    /*border-top: 2px solid red;*/
    /*border-bottom: 2px solid red;*/
}

.outer h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.inner {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 10px;
}